.App {
  font-family: sans-serif;
  text-align: center;
  text-transform: capitalize;
  margin: 95px 95px;
  background-repeat: no-repeat;
  background-color: red;
  border-radius: 5px;
}
body {
  background-color: #3b4cca;
  background-repeat: no-repeat;
  margin: 95px;
}

h2 {
  color: #cc0000;
  text-shadow: 2px 2px 4px white;
}
button {
  background-color: yellow;
  border-radius: 5px;
  border: none;
  color: black;
  padding: 10px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}
